/* ================================
   SECCIONES PRINCIPALES
================================ */

section:first-of-type {
  margin-top: -10px; /* Ajusta el espacio inicial respecto a la navbar */
}

section {
  margin-top: 40px; /* Espacio entre secciones */
  margin-bottom: 40px;
  padding: 1rem 3rem 3rem;
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(59, 100, 195, 0.2); /* Fondo semi-transparente */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(8, 99, 226, 0.5); /* Sombra suave */
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f39c12; /* Naranja brillante */
  text-align: center;
  margin-top: 40px;
}

section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd; /* Gris claro */
  text-align: center;
}

/* ================================
   ESTILOS RESPONSIVOS
================================ */
@media (max-width: 768px) {
  section {
    padding: 1rem; /* Reduce el padding en dispositivos pequeños */
    max-width: 100%; /* Ajusta el ancho de las secciones */
  }

}